<div class="p-6 bg-gray-50 min-h-screen">
  <h1 class="text-2xl font-bold mb-6 text-gray-800">Pedidos</h1>

  <!-- Botão para abrir modal -->
  <div class="flex justify-end mb-6">
    <p-button 
      label="Adicionar Pedido" 
      icon="pi pi-plus" 
      (click)="abrirModal()" 
      class="!bg-blue-500 !border-none hover:!bg-blue-600 transition-all duration-200 shadow-md"
    ></p-button>
  </div>

  <app-pedidos-form
    [pedidos]="pedidos"
    [novoPedido]="novoPedido"
    [(visible)]="visible"
    [visualizando]="visualizando">
  </app-pedidos-form>

  <app-pedidos-list 
    [pedidos]="pedidos"
    (visualizar)="visualizarPedido($event)"
    (editar)="abrirEditarPedido($event)"
    (deletar)="deletarPedido($event)">
  </app-pedidos-list>

</div>
